<!doctype html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <div class="container">
        <%- include('navbar', { keyword: null, active: 'login', loggedin:loggedin }) %>

            <div class="m-5 d-flex flex-column justify-content-center">
                <div class="fs-1 my-4 me-auto ms-auto">Welcome Back!</div>
                <!-- error message -->
                <% if(error) { %> 
                    <div class="alert alert-danger w-25 me-auto ms-auto" role="alert">
                        <%= error %> 
                    </div>
                <% } %> 
                <!-- login form -->
                <div class="my-4 w-25 me-auto ms-auto">
                    <form action="/auth/login" method="POST">
                        <div class="mb-3">
                            <label for="usernameInput" class="form-label">Username</label>
                            <input type="text" class="form-control" name="uname" id="uname" required>
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Password</label>
                            <input type="password" class="form-control" name="pass" id="pass" required>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Login</button>
                    </form>
                </div>
                <div class="my-2 w-25 ms-auto me-auto">
                    <a class="fw-light btn btn-light" href="http://localhost:3112/auth/request-link" role="button">Forgot Password?</a>
                    <!-- <a class="fw-light btn btn-light" href="https://oddgit.fullstackengineers.co.in/auth/request-link" role="button">Forgot Password?</a> -->
                </div>
            </div>

            <div class="container position-absolute bottom-0">
                <%- include('footer') %>
            </div>
    </div>

    <!-- scripts -->
    <%- include('scripts', { loggedin:loggedin }) %>
</body>

</html>