<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand me-4 ms-2" href="http://localhost:3112/home/">
            <div class="align-middle my-1">
                Odd <img class="brand-logo" src="/icons/Git-Icon-1788C.png" alt="odd-git-logo">
            </div>
        </a>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <% if(!loggedin) {%> 
            <li class="nav-item">
                <a class="nav-link <%= active === 'home' ? 'active':null %> " aria-current="page" href="http://localhost:3112/home/">Home</a>
            </li>
            <% } %>
            <!-- repositories owned by user shows when logged in -->
            <% if(loggedin) {%>  
            <li class="nav-item">
                <a class="nav-link <%= active === 'repositories' ? 'active':null %>" href="http://localhost:3112/repos/repositories?page=0&token=<%= token %>" aria-current="page">
                    Repositories
                </a>
            </li>
            <% } %> 
        </ul>
        <form action="/home/search" method="POST" class="d-flex">
            <input class="form-control me-2" type="search" name="keyword" id="keyword" value="<%= keyword %>" placeholder="Search Repositories" aria-label="keyword">
            <button type="submit" class="btn btn-light">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <span class="me-auto"></span>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <% if(!loggedin) {%> 
            <li class="nav-item">
                <a class="nav-link <%= active === 'signup' ? 'active':null %>" aria-current="page" href="http://localhost:3112/auth/signup">Signup</a>
            </li> 
            <li class="nav-item ms-2">
                <a class="btn btn-outline-dark <%= active === 'login' ? 'active':null %>" aria-current="page" href="http://localhost:3112/auth/login">Login</a>
            </li>
            <% } %>
            <% if(loggedin) {%>
            <li class="nav-item">
                <a class="nav-link <%= active === 'profile' ? 'active':null %>" aria-current="page" href="#">Profile</a>
            </li> 
            <li class="nav-item ms-2">
                <a class="btn btn-light <%= active === 'logout' ? 'active':null %>" aria-current="page" href="http://localhost:3112/auth/logout">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </li>
            <% } %>  
        </ul>
    </div>
</nav>